<div class="container">
<div> <h2>Modifier un Produit :</h2>
</div>
  <form (submit)="update()" >
    <div class="col-sm-2col-md-2col-lg-2">
<label>ID Produit</label>
<input type="text" disabled [(ngModel)]="currentOrder.orderId" name="orderId" class="form-control">
</div>
<div class="col-sm-4col-md-4col-lg-4">
<label>Nom Produit</label>
  <input type="text" [(ngModel)]="currentOrder.productName" name="productName" class="form-control">
</div>
<div class="col-sm-2col-md-2col-lg-2">
<label>Prix Produit
</label>
  <input type="number" [(ngModel)]="currentOrder.price" name="price" class="form-control">
</div>
    <div class="col-sm-4col-md-4col-lg-4">
<label>Date création
</label>
<input type="date" [ngModel]="currentOrder.orderDate|date:'yyyy-MM-dd'"(ngModelChange)=" currentOrder.orderDate=$event" name="orderDate" class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-success">Modifer</button>
</div>
</form>
</div>
